.nicetree {
	list-style-type: none;
	margin: 0 20px 0 20px;
	padding: 0;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial;
	color: #333;
}
.nicetree a {
	cursor: pointer;
	color: #3B5998;
	text-decoration: none;
}
.nicetree a:hover {
	text-decoration: none;
}
.nicetree li {
	border-bottom: 1px solid #E5E5E5;
	line-height: 18px;
	font-size: 12px;
}
.nicetree li:first-child {
	border-top: 1px solid #E5E5E5;
}
.nicetree li a{
	display: block;
	padding: 6px 6px 6px 10px;
}
.nicetree li.active:first-child {
	border-top: 2px solid #D2DEE5;
}
.nicetree li.active.withsubsections {
	background: #F2F7FC;
	border-top: 1px solid #D2DEE5;
	border-bottom: 1px solid #D2DEE5;
	margin: 0 -20px;
	margin-top: -1px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 10px;
}
.nicetree li a.selected {
	color: #333;
	font-weight: bold;
	background: url(img/dwn-arrow.png) no-repeat  left;
}
.nicetree ul.subsections {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nicetree ul.subsections li {
	border: 0;
	padding: 0;
	margin: 0;
	padding-right: 20px;
}
.nicetree ul.subsections li a {
	color: #333;
	font-size: 12px;
	overflow: hidden;
	padding: 3px 6px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.nicetree ul.subsections li a:hover {
	text-decoration: underline;
}
.nicetree ul.subsections ul.subsections li:first-child {
	background: url(img/divider.png) no-repeat 210px 10px ;
}
.nicetree_hover {
	background: url(img/arrow.png) no-repeat left center;
	color: #333;
}
/* Themes */
.nicetree li.active.withsubsections.green {
	background: #f2fcf3;
	border-top: 1px solid #d2e5d3;
	border-bottom: 1px solid #d2e5d3;
}
.nicetree li.green a {color: #4b4b4b}
.nicetree li.green a:hover {color: #000}
.nicetree li.active.withsubsections.orange {
	background: #fcf9f2;
	border-top: 1px solid #e5dfd2;
	border-bottom: 1px solid #e5dfd2;
}
.nicetree li.orange a {color: #4b4b4b}
.nicetree li.orange a:hover {color: #000}
.nicetree li.active.withsubsections.gray {
	background: #f4f4f4;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}
.nicetree li.gray a {color: #4b4b4b}
.nicetree li.gray a:hover {color: #000}
.nicetree li.active.withsubsections.red {
	background: #fcf2f2;
	border-top: 1px solid #e5d2d2;
	border-bottom: 1px solid #e5d2d2;
}
.nicetree li.red a {color: #4b4b4b}
.nicetree li.red a:hover {color: #000}